body {
    margin: 0px;
    background-image:linear-gradient(to bottom right,  black,blue);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1 {
    color: red;
    text-align: center;
}


table {
    table-layout: fixed;
    padding: 2px;
    border-color:transparent;
    background-color: black;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    text-align: center;
    color:white;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    border: 1px solid black;
    border-radius: 10px;
    background-color: cornflowerblue;
}
th {
    border: 1px solid black;
    border-radius: 10px;
    background-color: cadetblue;
}

.col1 {
    column-width: 20px;
}
 
#createdby {
    padding:0  20px;
    text-align: left;
}
#result {
    margin-left: 20px;
    overflow: hidden;
    direction: rtl;
    font-size: 30px;
    padding: 0 20px;
    text-align: right;
    height: 35px;
}

button {
    background-color: black;
    color: aqua;
}
#decimal {
    background-color: orange;
}

#oper {
    background-color: green;
}

#clear {
    color: black;
    background-color: aqua;
}

#enter {
    background-color: mediumblue;
}

footer {
    
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0px;
}
footer > a , a:link, a:visited {
    color: white;
    text-decoration: none;
}

footer > a:hover, a:active {
    color: red;
}